/* If site is in dark mode invert */
@media (prefers-color-scheme: dark) {
    .invert {
        filter: invert(1);
    }
}

/* styling for normal navbar-item (Desktop) */
.navbar-item.is-selected {
    background-color: transparent;
    color: #3273dc;
    font-weight: bold;
    border-bottom: 2px solid #3273dc;
}

/* styling for the dropdown-items in navbar */
.navbar-dropdown .navbar-item.is-selected {
    background-color: #3273dc;
    color: white;
}

/* styling for burger-menu (Mobile) */
@media screen and (max-width: 1024px) {
    .navbar-menu .navbar-item.is-selected {
        background-color: #3273dc; /* Blaue Hintergrundfarbe für ausgewählte Elemente */
        color: white; /* Weiße Schrift auf blauem Hintergrund */
        border-bottom: none; /* Entfernt die Unterstreichung */
    }
}
